.answers-box{
  padding: 20px 30px;
  border-radius: 22px;
  border: 3px #fff solid;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width:760px){
  .answers-box{
    padding: 20px 15px
  }
}
