.quest{
  width: 360px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  background-image: linear-gradient(#8D8D8D, #585858);
  position: relative;
  border: 2px solid #fff;

  .title{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
  }
  .desc{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
    font-size: 24px;
  }
  .buttonplay{
    background-color: #585858;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 50%;
    padding: 0 20px;
    cursor: pointer;
    transform: translate(-50%,-100%);

  }
}
