.header{

  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0px -10px 10px -10px;
  }
  .exit-btn{
    background-color: red;
    color: #fff;
    border-radius: 8px;
    padding: 7px 12px;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    border: none;
    height: min-content;
    cursor: pointer;
  }
  .title-desk{
    margin-top: 15px;
    font-size: 26px;
    width: 75%;
    text-align: center;

  }
  .title-mob{
    display:none;
  }
  .quest-num{
    font-size: 26px;
  }
}

@media screen and (max-width: 760px){
  .header{
    margin: 10px 10px 10px 10px;

  .title-desk{
    display: none;
  }
  .title-mob{
    display: block;
    width: 100%;
    text-align: center;
  }

}

}
